<html>
  <head><link rel="stylesheet" href=".\static\homepage.css"></head>
  <style>
    #content {
        position: relative;
    }
    #content img {
        position: absolute;
        top: 0px;
        right: 0px;
        border-radius: 50%;
        height: 80px;
        width: 80px;
    }
</style>
<body>
  <div id="content">
    {% if pfp %}<img src={{pfp}} />{% endif %}
  </div>
<h1>Welcome{% if name %}, {{name}} {% endif %}</h1>
    <a href = "\heart" style="text-decoration: none; color: #BD23D7;">Heart Attack Risk Calculator</a></br>
    </br>
    <a href = "\sleep" style="text-decoration: none; color: #BD23D7;">Sleep Disorder Calculator</a></br>
  </br>
  <a href='/logout'><button class="button-36" >Logout</button></a>
  </br>
</body>
</html>